/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------RESET STYLES */
/* ----------------CUSTOM STYLES-------------- */
.background{
    background: linear-gradient(to right, rgba(64, 126, 197, 0.507), rgba(136, 235, 156, 0.63)),
    url(../media/home-bg.jpg) no-repeat ;
    background-size: cover;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}
body{
    font-family: 'Ubuntu', sans-serif;

}
header{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    position:absolute ;
    top: 30px;
    width: 100%;
}
.container{
    max-width: 70%;
    /* border: 1px solid black; */
    margin: auto;
    padding: 25px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation_links{
    width: 55%;     
}

.navigations{
    display: flex;
    align-items: center;
}
.navigations a{
    margin-right: 40px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.hydro{
    font-size: 35px;
    color: white;
}
.navigation_icon{
    margin-right: 20px;
    
}
.navigation_icon a{
    margin-right: 10px;
    color: white;
}

.btn{
    width: 120px;
    height: 40px;
    background-color: rgb(207,55,50);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    padding: 2px;
    border-radius: 25px;
}
/* ------------------------------------ */

.sec1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_wemake{
  position: absolute;
  top: 300px ;
  width: 100%;
}
.we_make_beatiful{
    color: white;
}

.we_make_beatiful span{
    line-height: 1.5;
}
.About_project{
    font-size: 50px;
    line-height: 1.3;
}
.transporant{
    background: transparent;
    border: 1px solid white;
    margin-right: 25px;
}

.project_btn{
    margin-top: 35px;
}

.video iframe{
    width: 750px;
    height: 450px;
    border-radius: 15px;
}

/* -------------------------------- */

.introduce{
    font-size: 30px;
}

.let_us_introduce{
    width: 33%;
    /* border: 1px solid black; */
}
 .dots{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: rgba(128, 128, 128, 0.452);
    margin-right: 10px;
    margin-top: 25px;
}

.intro .analysis{
    width: 27%;
    /* border: 1px solid red; */
}

.person_image{
    max-width: 30%;
}

.person_image img{
    width: 100%;
}

.para{
    font-size: 15px;
    line-height: 1.4;
    margin-top: 25px;
}
.web_design{
    margin-top: 23px;
}

.line{
    width: 100%;
    margin-top: 10px;
}
.inside_line{
    height: 8px;
    width: 80%;
    background-color: black;
}

 .ninty{
    width: 90%;
}

 .seven_five{
    width: 75%;
}
.seven_zero{
    width: 70%;
}

/* ----------------------ourblog */
.ourblog .article{
    width: 45%;
    /* height: 350px; */
    margin-bottom: 40px;
    background-color: white;
}
.ourblog{
    margin: 50px 0px;
    background-color: rgb(239,239,239);
}

.article .image{
    width: 35%;
}
.article img{
    width: 100%;
}
.article .read_article{
    width: 55%;
}

.article .read_article .span{
    color: rgba(255, 0, 0, 0.644);
    margin-bottom: 30px;
    display: inline-block;
}
 .article_heading{
    font-size: 25px;
    margin-bottom: 30px;
    line-height: 1.4;
}
.read_article p{
    line-height: 1.5;
    color: grey;
}
.heading_squaredots{
    text-align: center;
}
.heading_squaredots h2{
    margin-bottom: 0;
}

.articl_btn{
    background-color: rgb(239,239,239);
    color: rgba(0, 0, 0, 0.527);
    margin-top: 25px;
}

/* ------------------ourwork */
.ourwork{
    margin: 50px 0px;
}
.images img{
    width: 300px;
}

/* ---------------------contact us */

.contactus{
    max-width: 100%;
    /* height: 500px; */
    background: linear-gradient(to right, rgb(52,141,204), rgb(118,228,115));
    padding: 70px 0px;
}

.contact_title{
    
    color: white;
    font-weight: bolder;
}

.input_fields{
    width: 60%;
    margin-right: 25px;
    /* border: 1px solid red; */
}

.input_fields .input{
    width: 330px;
    height: 45px;
    border: 1px solid white;
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: white;
    border-radius: 10px;
    color: grey;
}

.input_fields .input_big{
    width: 100%;
    height: 180px;
    align-items: flex-start;
    padding-top: 15px;
}
.contact_btn{
    width: 150px;
    margin-top: 20px;
}

.address iframe{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin-left: 25px;
}

.contact_align{
    justify-content: center;
}

/* -----------------------footer */

footer{
    width: 100%;
    background-color: black;
    color: white;
    padding: 40px 0px;
    
}

footer .hydr_comp, footer .Findus{
    width: 27%;
    /* border: 1px solid red; */
}
.Findus{
    margin-left: 105px;
}

footer h2{
    font-size: 25px;
    margin-bottom: 15px;
}
.footer_align{
    align-items: flex-start;
    justify-content: center;
    
}

footer p{
    line-height: 1.4;
}
footer .company, footer .services{
    /* border: 1px solid red; */
    width: 12%;
    margin-left: 65px;

}
footer ul li{
    margin-top: 10px;
}

.footer_nav{
    margin-right: 100px;
}

.footer_nav .nav_icons{
    margin-left: 100px;
    font-size: 25px;
}

hr{
    width: 70%;
    opacity: 30%;
}

